<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>EZHA</string>
	<key>CFBundleIdentifier</key>
	<string>com.example.ezha</string>
	<key>CFBundleName</key>
	<string>EZHA</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>SUPABASE_URL</key>
	<string>https://eixwgqtyeaehczasvjup.supabase.co</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImVpeHdncXR5ZWFlaGN6YXN2anVwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Njg1NTUxMTgsImV4cCI6MjA4NDEzMTExOH0._aALrNt1ZYM-tp2QpNTqtkLkvTyBWkgwA22RdD2uURc</string>
	<key>SUPABASE_OAUTH_REDIRECT_URL</key>
	<string>daryna.Ezha://login-callback</string>
	<key>SUPABASE_OAUTH_CALLBACK_SCHEME</key>
	<string>daryna.Ezha</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Supabase OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>daryna.Ezha</string>
			</array>
		</dict>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to your photos to attach meal images.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
</dict>
</plist>
